body{
        font-family:Arial, Helvetica, sans-serif;
        background-color:black;
      }
      div{
        display:flex;
        flex-direction:row;
        justify-content: start;
        margin-bottom: 5px;
      }
      button{
        background-color:rgb(57, 55, 55);
        color:white;
        font-size:22px;
        cursor:pointer;
        width:60px;
        height:60px;
        border-style:none;
        border-radius:50%;
        border-color: gray;
        margin-right:3px;
      } 
      .calculation-result{
        font-size:32px;
        color:white;
      }
      .button-operators{
        background-color:rgb(255, 173, 196);

      }
      .clear-btn{
        font-size: 17px;
      }
 